 /* star selecter
The * selector selects all elements. The * selector can also select all elements inside another element*/
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /*The overflow property specifies whether to clip the content or to add scrollbars when the content of an element is too big to fit in the specified area. */
    box-sizing: border-box;
    /*border-box tells the browser to account for any border and padding in the values you specify for an element's width and height.*/
}

/*************main box having backgroungd image*/
/*class
class selecter start with .name*/
.card {
    width: 100%;
    /*mean width is 100% is your pc screen*/
    height: 100vh;
    /*The full form of VH is viewport height. It works like the percentage unit as well. Specifying 10vh is equivalent to occupying 10% of entire visible screen height.*/
    background-image: url("back img.jpg");
    background-size: cover;
    display: flex;
    /*It is used to set the length of flexible items. The flex property is much more responsive and mobile-friendly. It is easy to position child elements and the main container. The margin doesn't collapse with the content margins.*/
    flex-wrap: wrap;
    /*The flex-wrap CSS property sets whether flex items are forced onto one line or can wrap onto multiple lines. If wrapping is allowed, it sets the direction that lines are stacked.*/
    justify-content: center;
    /*contentis justified to center of page*/
    padding: 80px 0;
    /* Pixels, or px , are one of the most common length units in CSS. In CSS, 1 pixel is formally defined as 1/96 of an inch.*/
    gap: 30px;
    /*used to add gap between container*/
}

/*******cards divs*****/
#card {
    /*id start with #name*/
    width: 400px;
    height: 400px;
    background-color: rgb(240 240 240 / 46%);
    /*rbg #code name used to define color*/
    border-radius: 15px;
    /*The border-radius property defines the radius of the element's corners. Tip: This property allows you to add rounded corners to elements!*/
    padding: 15px 20px;

}

#card:hover {
    /*hover make changes when we move pointer in that specific container/ box*/
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.8s;
}

/************image***********/
#card img {
    width: 100%;
    height: 200px;

}

/*****************description*********/
#card figcaption {
    margin-top: 10px;
    text-align: justify;
    line-height: 1.5rem;
    /*rem stands for root em, which is a measurement unit that refers to the font-size of the root element of a document.*/
}

/********card btn**********/
#card #btn {
    width: 100px;
    height: 40px;
    font-size: 20px;
    /*used to increase to font size*/
    margin-top: 10px;
    background-color: #e011c5;
    color: #F0F0F0;
    /* color used to change font color*/
    cursor: pointer;
    border-radius: 5px;
}

/***********media query********/
@media (max-width:1260px) {

    /*used to make page responsive*/
    .card {
        height: auto;
    }
}
